---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import _netlifyLogo from '../../assets/netlify.svg';

const _episodes = await getCollection('episodes');
---
<html lang="fr">
  <head>
    <title>FloodCast Search</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Il s'agissait du FloodCast</h1>
    {
        _episodes.map(episode => (
            <article>
                <h2>{episode.data.metadata.code} - {episode.data.metadata.title}</h2>
            </article>
        ))
    }

    <a href="https://www.netlify.com">
        <Image src={_netlifyLogo} alt="Deployé par Netlify" width="114" height="51">
    </a>
  </body>
</html>