---
import '@picocss/pico';
import AppSearch from '@components/AppSearch.astro';
---
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>FloodCast Search</title>
  </head>
  <body>
    <main class="container">
        <h1>FloodCast > Il s'agissait du…</h1>
        <AppSearch />
    </main>
  </body>
</html>
