<form role="search" action="" novalidate onsubmit="return false">
    <input
        type="search"
        aria-label="Rechercher"
        autocomplete="off"
        autocorrect="off"
        autocapitalize="none"
        spellcheck="false"
        maxlength="80"
    />
</form>

<style>
input[type="search"].loading {
    background-image: var(--pico-icon-loading);
}
</style>
